<ion-header>
  <ion-toolbar>
    <ion-title>Course Info</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-item class="ion-activated ion-no-border">
      <ion-icon name="school-outline" slot="start"></ion-icon>
      <ion-label> Tutor: {{ mentorCourse?.name }} {{ mentorCourse?.surName }}</ion-label
      >
      <ion-button fill="outline" slot="end">View</ion-button>
    </ion-item>

    <ion-card-content>
      <ion-item>
        {{ courseUsr?.courseName }} -- {{ courseUsr?.schedule }}
      </ion-item>
      <ion-item>
        Year Start: {{ courseUsr?.yearStart | date: "MM/dd/yy" }}
      </ion-item>
      <ion-item>
        Year End: {{ courseUsr?.yearEnd | date: "MM/dd/yy" }}
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
