<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>OLC</ion-card-subtitle>
      <ion-card-title>Online Learning Course</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-img src="assets/img/OLC.png"></ion-img>
      <p>
        Welcome to the best online learning website. During this hard time we are
        going through you can keep learning with us. At the moment the available
        course is "DAM".
      </p>
      <br>
      <p>
        You can interact with your mentor, access each subject notes and be
        evaluated with test exams. See you in.
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>
